 .form{ 
    max-width: 100%; 
    min-width: 25%; 
    border-width: 2px; 
    border-color: #CCCCCC; 
    border-radius: 0px; 
    color: #3B3B3B; 
    font-size: 18px; 
    margin: 0px; 
    padding: 15px; 
} 
.content{ 
    margin: 0px; 
} 
.form label{ 
    color: #222222; 
    font-size: 14px; 
    display: block; 
} 
.form input[type=radio], input[type=checkbox]{ 
    margin: 10px; 
    width: 13px; 
} 
.form div { 
    display: block; 
} 
.form input, form textarea, form select{ 
    padding: 3px; 
    width: 100%; 
} 
.form, .form h1, .form h2{ 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; 
} 
.form h1{ 
    font-size: 40px; 
    color: #000000; 
    padding: 0px; 
    margin: 0px; 
    margin-bottom: 10px; 
    border-bottom-color: #CCCCCC; 
    border-bottom-width: 2px; 
} 
.intro{ 
    margin-bottom: 10px; 
} 
.clear{ 
    clear: both; 
} 
.form textarea{ 
    height: 50px; 
    width: 100%; 
} 
.form input[type=submit]{ 
    width: 100%; 
} 
.field{ 
    margin-bottom: 5px; 
} 


h1 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
   font-weight: 300;
   color: #606060;
   padding-bottom: 10px;
   font-size: 40px;
   text-shadow: 0px 1px #fff;
 }

html {
  width: 100%;
  height: 100%;
}

body {
  /* Debut pattern from http://subtlepatterns.com/debut-light/ by user Luke McDonald (http://lukemcdonald.com) */
  background: url(../images/subtlenet2.png);
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 34px;
  text-shadow: 0px 1px #fff;
  width: 100%;
  height: 100%;
}

a, a:link, a:visited {
  color: #3399FF;
  text-decoration: none;
}

a:hover, a:active {
  color: #999;
}

.page-overlay {
  opacity: 0.5;
  pointer-events: none;
}

.page-overlay-void {
  opacity: 0.65;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: 50% 100px;
  background-image: url(../images/void.png);
}

.page-overlay-expired {
  opacity: 0.65;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: 50% 100px;
  background-image: url(../images/expired.png);
}

.btn {
  font-weight: 300;
}

.medium-text {
  font-size: 28px;
  word-wrap: break-word;
}

.mobile-lbl-text {
  padding-top:10px;
  font-size: 18px; 
}

.mobile-text {
  font-size: 22px;
  word-wrap: break-word;
}

.small-text {
  font-size: 20px;
  word-wrap: break-word;
}

.xsmall-text {
  font-size: 18px;
  word-wrap: break-word;
}

.alert-box {
  padding: 5px;
  margin-bottom: 0;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.dark-gray {
  color: #666;
  word-wrap: break-word;
}

.address-text {
  font-size: 18px;
  padding-top: 13px;
  font-family: "Andale Mono", AndaleMono, monospace;
}

.mobile-address-text {
  font-size: 16px;
  padding-top: 10px;
  font-family: "Andale Mono", AndaleMono, monospace;
}

.line-item {
  font-size: 28px;
  color: #999;
}

.right-icon {
  float: right;
  margin-top: 10px;
  font-size: 20px;
}

.unpaid, .expired, .invalid, .red {
  color: #ff4848;
}

.pending, .partial, .orange {
  color: #e9941b;
}

.paid, .overpaid, .green {
  color: #41a323;
}

.gray {
  color: #999;
}

.spacer{
  margin-top:30px;
}

.spacer-5 {
  margin-top: 5px;
}

.spacer-right-10 {
  margin-right: 20px;
}

.btn-wide {
  width:100%;
}

.underline {
  border-bottom: 7px solid #bbb;
}

.medium-underline {
  border-bottom: 3px solid #bbb;
}

.thin-underline {
  border-bottom: 1px dotted #bbb;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.center {
  text-align: center;
}

.no-padding {
  padding: 0;
}

.center-margin {
  width: 320px;
  margin: 0 auto;
}

.center-margin-data {
  width: 300px;
  margin: 0 auto;
}
.address-spacer-small {
  margin: 10px 0;
}

.address-spacer {
  margin: 40px 0;
}

.invoice-data-width {
  max-width:400px;
  min-width:320px;
}

.indent {
  margin-left: 25px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#payment-history-header {
  margin-top: 25px;
}

.top-margin {
  margin-top: 20px;
}